*.iml
.gradle

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx


# Google Services (Firebase) configuration
google-services.json

# Agora config (if in a specific file, but we put it in local.properties)
